Django
channels
channels_redis
daphne
psycopg2-binary
python-dotenv
requests
aiohttp
beautifulsoup4
pillow
fastapi
uvicorn
redis
google-generativeai
google-api-python-client
google-auth
pyTelegramBotAPI
python-telegram-bot
openai
tqdm
djangorestframework
django-cors-headers
django-tinymce
django-import-export